*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Times New Roman', Times, serif;
line-height:1,4;
color: #333;
overflow-x: hidden;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.text-primary{
    color: #3693ff;
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
#navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar h2 a{
    color: #fff;
    text-decoration: none;
}
#navbar li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#navbar li a:hover{
    background-color: #3693ff;
}

#showcase{
    background: url(../images/wp4974496.jpg) no-repeat center center/cover;
    height: 100vh;
}
 .showcase-content {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
position: absolute;
top: 81px;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.7);
color: #fff;
}

.showcase-content h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
}

.showcase-content .btn {
    font-size: 1.5rem;
    padding:  1rem 10 rem;
}

.btn {
    color: #3693ff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #3693ff;
    border-radius: 10px;
    font-weight: bold;
}

#about {
    padding: 5rem 0;

}

#about h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#about p.lead {
margin-bottom: 1rem;
font-family: 'Times New Roman', Times, serif;
font-size: 1.5rem;
text-align: center;
}

#about .about-content {
    display:flex;
    font-family: 'Times New Roman', Times, serif;
font-size: 1.5rem;
text-align: center;
}

#about .About-text,

#Services{
    padding: 3rem;
}

#Services h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#Services .boxes{
    display: flex;
}

#Services .box{
    background: #fff;
    flex: 1;
    padding: 3rem;
    margin: 0 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.3rem;
}
#Services .box i{
    color: #fff;
    padding:  1rem;
    background: #3693ff;
    border-radius: 50%;
    margin: 0 1rem;
    margin-bottom: 2rem;
}


#Portfolio {
    padding: 2rem;
}
#Portfolio h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}
#Portfolio p.lead{
    font-size: 2rem;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#Contact{
    padding: 5rem 0; 
}

#Contact h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8rem;
}

#Contact h3{
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    margin-top: 5rem;
}

#Contact .form-box{
    background: #fff;
    padding: 3rem;
    box-shadow: 2px 2px 5px #d1d1d1;
    border-radius: 10px;
}

#Contact .form-group{
    margin-bottom: 2rem;
}

#Contact .form-group label{
    display: block;
    margin-bottom: 0.5rem;
    width: 80%;
    margin-left: 10%;
    font-size: 1.1rem;
}

#Contact .form-group input,
#Contact .form-group textarea{
    width:  80%;
    margin-left: 10%;
    font-size: 1.3rem;
    padding: 1rem;
    border: 0.5px solid #333;
    border-radius: 5px;
}

#Contact .form-group textarea{
    font-family: 'Times New Roman', Times, serif;

}

#Contact .contact-btn{
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    padding: 1rem;
    border: none;
    border-radius:  5px;
    font-size: 1.5rem;
    background: #3693ff;
    color: #fff;
    margin-bottom: 2rem;
    cursor: pointer;
}

#Contact .contact-btn:hover{
    background: #0378ff;
}

#Contact .form-container{
    position: relative;
}
#Contact .mail-icon{
    font-size: 4rem;
    background: #3693ff;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 2rem;
    border-radius: 50%;
    position: absolute;
    top: -7%;
}
footer{
    padding: 4rem;
    background: #333;
    color: #fff;
}
footer p{
    text-align: center;
}
#wrapper{
    margin-bottom: 30px;
position: center;
transform: translate(-50%, -50%);
}
.wrapper ul{
    list-style: none;
}

.wrapper ul li{
    width: 55px;
    height: 55px;
    line-height: 62px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid;
    float: left;
    transition: all 0.5s ease;
}
.wrapper ul li .fa{
    color: #fff;
    margin-top: 5px;
    transition: all 0.5s ease;
}

.wrapper ul li:hover:nth-child(1){
    border: 3px solid #3b5998;
    box-shadow: 0 0 15px #3b5998 ;
}

.wrapper ul li:hover .fa-facebook{
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover:nth-child(2){
    border: 3px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d ;
}

.wrapper ul li:hover .fa-instagram{
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover:nth-child(3){
    border: 3px solid #0a66c2;
    box-shadow: 0 0 15px  #0a66c2;
}

.wrapper ul li:hover .fa-linkedin{
    color: #0a66c2;
    text-shadow: 0 0 15px #0a66c2;
    transition: all 0.5s ease;
}







